@font-face{
    font-family:"Averta for TBWA W03";
    font-weight: 400;
    src:url("../fonts/b7364286-73e9-452f-b37f-666c23f9f117.eot?#iefix");
    src:url("../fonts/b7364286-73e9-452f-b37f-666c23f9f117.eot?#iefix") format("eot"),
        url("../fonts/7efb0f58-2547-4648-8a8b-8d9e2d432f91.woff2") format("woff2"),
        url("../fonts/908e37c8-30de-4ac2-9831-60cc0cca4586.woff") format("woff"),
        url("../fonts/853340ee-4991-42f6-91a5-948421c99a57.ttf") format("truetype"),
        url("../fonts/22fd511a-33c8-466d-b26a-d0c1af38a503.svg#22fd511a-33c8-466d-b26a-d0c1af38a503") format("svg");
}

@font-face{
    font-family:"Averta for TBWA W03";
    font-weight: 800;
    src:url("../fonts/8035f087-ade6-48dc-9342-7f3e045c25d6.eot?#iefix");
    src:url("../fonts/8035f087-ade6-48dc-9342-7f3e045c25d6.eot?#iefix") format("eot"),
        url("../fonts/060a6bbd-6995-48bf-917d-5083172c0b42.woff2") format("woff2"),
        url("../fonts/24d961f5-491a-4fe1-a001-873ec9b53c76.woff") format("woff"),
        url("../fonts/f699da5f-31c2-4811-9d23-e93351a2a738.ttf") format("truetype"),
        url("../fonts/8030daf5-e70a-4c9e-a390-50afaacb1aee.svg#8030daf5-e70a-4c9e-a390-50afaacb1aee") format("svg");
}
