.btn {
  align-items: center;
  border: 2px solid currentColor;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  font-size: 5rem;
  font-weight: 800;
  justify-content: left;
  line-height: 1;
  padding: 3rem 5rem;
  text-align: left;
  text-decoration: none;
  transition: background-color 250ms ease-out;

  svg {
    fill: currentColor;
    height: 6rem;
    margin-left: 4rem;
    margin-top: 0;
    width: 6rem;
  }
}

.btn__text {
  flex-shrink: 1;
  flex-grow: 0;
}

.btn--small {
  font-size: 4rem;
  font-weight: 400;
  padding: 2rem 3rem;
}

.btn--primary {
  background-color: hsl(46, 98%, 59%);
  color: #000;

  &:hover {
    background-color: hsl(46, 100%, 48%);
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: hsl(46, 98%, 86%);
    border-color: hsl(0, 20%, 74.5%);
    color: hsl(0, 20%, 74.5%);

    &:hover {
      background-color: hsl(46, 98%, 86%);
      border-color: hsl(0, 20%, 74.5%);
      color: hsl(0, 20%, 74.5%);
    }
  }
}

.btn--secondary {
  background-color: hsl(46, 98%, 86%);

  &[disabled] {
    cursor: not-allowed;
    background-color: hsl(46, 98%, 86%);
    border-color: hsl(0, 20%, 74.5%);
    color: hsl(0, 20%, 74.5%);

    &:hover {
      background-color: hsl(46, 98%, 86%);
      border-color: hsl(0, 20%, 74.5%);
      color: hsl(0, 20%, 74.5%);
    }
  }
}

.btn--tertiary {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
}
